<h1>Por Región</h1>
<hr />
<div class="row">
  <div class="col">
    <button
      class="btn me-2"
      *ngFor="let region of regions"
      (click)="searchByRegion(region)"
      [ngClass]="{ 'btn-outline-primary': region === selectedRegion }"
    >
      {{ region }}
    </button>
    <!-- <shared-search-box (onSearch)="searchByRegion($event)"></shared-search-box> -->
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- <ul>
      <li *ngFor="let country of countries">
        {{ country.capital }} - {{ country.area }}
      </li>
    </ul> -->
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

